<h1 style="text-align: center;margin-top: 10px; font-size: 40px;color: rgb(156, 240, 240);">Welcome to Employee section</h1>
<a routerLink="add" class="button">Add</a>
<app-emptable></app-emptable>
<router-outlet></router-outlet>
<style>
    .button {
  background-color: #6d8ae9; /* Green */
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: dashed;
  font-size: 22px;
  float: right;
  margin-right: 500px;
  margin-bottom: 50px;
  border-radius: 12px;
  margin-top: 15px;
  cursor: pointer;
}
.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
</style>